.border{
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 10px 10px grey;
    border-color:black ;
    border-radius: 30px;
    width: 80%;
    border: 1px solid #ccc;
    display: flex; /* Use flexbox */
    flex-direction: column; /*Stack children vertically*/
    align-items: stretch; /* Stretch children to fit width */
    justify-content: space-between;
    margin-left: 50px;
    
    
}



.margin{
    display: flex;
    justify-content: space-between;
    margin: 1px;
   border: 2px solid ;
   padding: 7px;
   margin-top: 1px;
   border-radius: 30px 30px 0px 0px;
   
    
    /* background-color: #f0f0f0; */
   

}

.welcome{
    padding-left: 90px;

}

.image{
    
    margin:10px;
    width:100px;
    height: 100px;
    
    
}

.nav{
    display: flex;
    flex-direction: column;
    -ms-flex-item-align: start;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.nav-container{
    display: flex;
    
}

.dash-container {
    flex: 1; /* Grow to take up available space */
    margin-right: 1em; /* Add spacing between containers */
}

.blog-container {
    flex: 2; 
}

.dash-blog-container{
    display: flex;
    justify-content: space-evenly;
     gap: 2 em;
     flex-wrap: wrap; /* Ensure children can wrap to new lines */

}

.main-nav{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.about{
    margin-top: 9px;
    margin-left: 10px;
    display: block; /* Ensures it takes up the full width of the container */
    width: 100%;
}


.border-2{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 10px 10px grey;
    border-color:black ;
    border-radius: 30px;
    width: 80%;
    border: 1px solid #ccc;
    display: flex; /* Use flexbox */
    flex-direction: column; /*Stack children vertically*/
    align-items: stretch; /* Stretch children to fit width */
}

.border-3{
    padding :10px;
    border-width: 1px solid;
    border-radius: 20px;
}

.ml-6{
    margin: auto;
    margin-top: 4em;
    margin-left: 10px;
    
}