.border{
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 10px 10px #8CB9BD;
    border-color:black ;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: stretch; /* Stretch children to fit width */
    justify-content: center;
    
}

.margin{
    margin: 1px;
   border: 2px solid ;
   padding: 7px;
   margin-top: 1px;
   border-radius: 30px 30px 0px 0px;
   
    
    /* background-color: #f0f0f0; */
   

}

.welcome{
    padding-left: 90px;

}

.image{
    padding-top: 20px;
    margin: auto;
    width:400px;
    
}

.nav{
    display: flex;
    flex-direction: column;
    -ms-flex-item-align: start;
}